# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# IDE
.vscode/settings.json
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db
.DS_Store

# Environment
.env
